
html, body{
    padding: 0px;    
    margin: 0;
}

.header{
    background: #ffffff;
    height: 96px;
    border-bottom: 1px #cccccc solid;
}

.wrap{
  width: 960px;
  margin-left: auto;
  margin-right: auto;

}


h1{
    margin: 0;
    font-family:'Georgia', Times, Times New Roman, serif;

}

.logo{
    float: left;
    background: #4aaaa5;
    color: white;
    padding: 30px;

}

ul{
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
list-style-type: none;
margin: 0;

}

li{
    float: right;
    font-size: 18px;
    margin-top: 40px;

}

.link-divider{
    color:#d3d3d3;
    margin-left: 15px;
    margin-right: 15px;
}

ul li a{
    text-decoration: none;
    color: #777777;

}

.bio img{
    width:265px;
    float: left;
    margin-right: 20px;
    padding-top: 10px

}

.content{
    background:white;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.content-wrapper{
    padding: 20px;


}

.about-me{
    color:#4aaaa5

}

.about-me-line{
margin-top: 20px;
margin-bottom: 40px;
background-color:#dfdfdf; 

}

p{

color:#777777;
line-height: 2;
}

.first-box{

    background-color: #4aaaa5;
    height: 10px;
}

footer{
    padding-top: 80px;
    
}

.second-box{
    background-color: #666666;
    text-align: center;
    color: rgb(204, 199, 199);
    font-size:12px;
    padding-top: 20px;

}

/* portfolio section */

.portfolio-pics img{
    height: 200px;
    width: 267px;
}

.pic1{
    position:relative;
    padding-top: 0px;
    padding-left: 30px;
    padding-right:40px;

}


.pic2{
    padding-bottom: 600px;
    margin-right: 345px;
    float: right;
}


.pic3{
    padding-left: 30px;
    padding-top: 40px;

}

.pic4{
    padding: 20px;
}

.pic5{
    padding: 20px;
}

/* Contact section */
input[type=text]{

    width: 850px;
    margin-left: 50px;
    margin-bottom: 5px;
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:  #777777;
}

h4{
    margin-left: 50px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:  #777777;
    
}


#message{
    margin-bottom: 20px;
    padding-bottom: 200px;  
}

input[type=button]{
    width: 100px;
    background-color: #4aaaa5;
    color: white;
    padding: 16px 30px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-left: 50px;
    margin-bottom: 30px;
    
    }

